<div class="event">
  <div class='flex'>
    <p class="paragraph-style">On <span class="input-text" ><%= event.start_date.strftime("%B %d, %Y") %></span></p>
    <div class="upload-location">
      <%= render 'add_photos_form', event: event%>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <h1><span class="event-title"><span class="input-text-title"><%= event.occasion.capitalize %></span> planned for <%= child.first_name.capitalize %>!</span></h1>
  </div>
  <p class="paragraph-style">For <%= child.first_name.capitalize %> you will buy a
    <span class="input-text"><%= event.gift.name.capitalize %></span>.
    <br>
    Then you will plan an activity to go to
    <span class="input-text"><%= event.activity.name.capitalize %></span>.
    <br>
    If you haven't yet,
    <%= link_to "https://calendar.google.com/calendar/u/0/r/eventedit?+event&sprop=name:#{child.first_name}+#{event.occasion}&sprop=website:https://www.ikujitime.me&details=#{event.occasion}&text=#{child.first_name}+#{event.occasion}&dates=#{event.start_date.strftime("%Y")}#{event.start_date.strftime("%m")}#{event.start_date.strftime("%d")}T#{event.start_date.strftime("%H%M%S")}GMT/#{event.end_date.strftime("%Y")}#{event.end_date.strftime("%m")}#{event.end_date.strftime("%d")}T#{event.end_date.strftime("%H%M%S")}GMT&pli=1&sf=true", target: '_blank', class:"input-text", style:"margin-top: 5px;" do %>
      <i class="fas fa-plus"></i>
    <% end %> it to your Google Calendar!
    <br>
    Make sure to take a lot of 📸 and have fun with <%= child.first_name.capitalize %>! We would love to see those pictures ⬇️ here.
  </p>
  <% if event.photos.any? %>
    <div class='w-100 overflow-hidden'>
      <div class="owl-carousel owl-theme align-self-center">
        <% event.photos.each do |photo| %>
          <%= cl_image_tag photo.key, width: '250', height: '250', object_fit: "cover"%>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
