<ul class="nav tabs-underlined" id="myTab" role="tablist">
  <% @years.each_with_index do |year, index|  %>
    <li class="nav-item border-right" role="presentation">
      <a class="tab-underlined <%= "active" if params[:sub_tab].blank? && index.zero? || params[:sub_tab] == year.to_s %>" id="tab-<%= year %>" data-toggle="tab" href="#content-<%= year %>" role="tab" aria-controls="home" aria-selected="true"><%= year %></a>
    </li>
  <% end %>
</ul>
<div class="tab-content" id="myTabContent">
  <% @years.each_with_index do |year, index|  %>
    <div class="tab-pane fade py-3 <%= "show active" if params[:sub_tab].blank? && index.zero? || params[:sub_tab] == year.to_s %>" id="content-<%= year %>" role="tabpanel" aria-labelledby="tab-<%= year %>">
      <%= render "children/tabs", year: year %>
    </div>
  <% end %>
</div>
