<div class="history-card">
  <% @events.where('extract(year from start_date) = ?', year).order(:start_date).reverse.each do |event| %>
    <div class='event w-100'>
      <div class="d-flex justify-content-between border-bottom mb-1">
        <div>
          <p><%= event.start_date.strftime("%B %d, %Y") %></p>
          <%= link_to 'Add to Google Calendar', "https://calendar.google.com/calendar/u/0/r/eventedit?+event&sprop=name:#{@child.first_name}+#{event.occasion}&sprop=website:https://www.ikujitime.me&details=#{event.occasion}&text=#{@child.first_name}+#{event.occasion}&dates=#{event.start_date.strftime("%Y")}#{event.start_date.strftime("%m")}#{event.start_date.strftime("%d")}T#{event.start_date.strftime("%H%M%S")}GMT/#{event.end_date.strftime("%Y")}#{event.end_date.strftime("%m")}#{event.end_date.strftime("%d")}T#{event.end_date.strftime("%H%M%S")}GMT&pli=1&sf=true", target: '_blank' %>
        </div>
        <h2 class='mt-3'> <%= event.occasion.capitalize %> </h2>
          <%= render 'add_photos_form', event: event%>
      </div>
      <div class='d-flex mt-3'>
        <div class="d-flex link-card">
          <% if event.start_date > Time.now %>
            <% if event.gift.present? && event.activity.present? %>
              <%= render './activity_components/activity_imgcard', activity: event.activity %>
              <%= render './gift_components/gift_imgcard', gift: event.gift %>
            <% elsif event.activity.present? %>
              <%= link_to "Get a gift for #{@child.first_name}", child_path(@child, event_id: event.id, tab: 'gifts'), class: "cards" %>
              <%= render './activity_components/activity_imgcard', activity: event.activity %>
            <% elsif event.gift.present? %>
              <%= link_to "Plan an activity for #{@child.first_name}", child_path(@child, event_id: event.id, tab: 'activities'), class: "cards" %>
              <%= render './gift_components/gift_imgcard', gift: event.gift %>
            <% else %>
              <%= link_to "Get a gift for #{@child.first_name}", child_path(@child, event_id: event.id, tab: 'gifts'), class: "cards" %>
              <%= link_to "Plan an activity for #{@child.first_name}", child_path(@child, event_id: event.id, tab: 'activities'), class: "cards" %>
            <% end %>
          <% end %>
        </div>
        <div class='w-100 overflow-hidden'>
          <% if event.photos.attached? %>
            <div class="owl-carousel owl-theme align-self-center">
              <% event.photos.each do |photo| %>
                <%= cl_image_tag photo.key, width: '250', height: '250', object_fit: "cover"%>
              <% end %>
            </div>
          <% else %>
            <div class="owl-carousel owl-theme align-self-center">
              <%= image_tag 'upload-photo.jpg', width: '250', height: '250', object_fit: "cover"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
