<div class="history-card">
  <% @events.each do |event| %>
    <% if event.start_date.year == 2019 %>
      <div class='event w-100 '>
        <div class="d-flex justify-content-between border-bottom">
          <p>Date: <%= event.start_date.strftime("%d of %B, %Y") %></p>
          <h2> <%= event.occasion %> </h2>
          <%= render 'add_photos_form', event: event%>
        </div>
        <div class='d-flex my-2'>
          <div class= 'info'>
            <p>Get a gift for <%= @child.first_name %></p>
            <%= link_to 'Gifts', child_path(@child, event_id: event.id, tab: 'gifts') %>
            <p>Plan an activity with <%= @child.first_name %></p>
            <%= link_to "Activities", child_path(@child, event_id: event.id, tab: 'activites') %>
          </div class= 'p-2'>
          <div class='flex-grow-1'>
            <div class="owl-carousel owl-theme align-self-center">
              <% event.photos.each do |photo| %>
                <%= cl_image_tag photo.key %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
