<div class="history-card">
  <% @events.where('extract(year from start_date) = ?', year).each do |event| %>
    <div class='event w-100'>
      <div class="d-flex justify-content-between border-bottom mb-1">
        <p><%= event.start_date.strftime("%d of %B, %Y") %></p>
        <h2> <%= event.occasion %> </h2>
        <%= render 'add_photos_form', event: event%>
      </div>
      <div class='d-flex mt-3'>
        <div class="d-flex link-card">
          <% if event.gift.present? && event.activity.present? %>
            <%= render './activity_components/activity_imgcard', activity: event.activity %>
            <%= render './gift_components/gift_imgcard', gift: event.gift %>
          <% elsif event.activity.present? %>
            <%= link_to "Get a gift for #{@child.first_name}", child_path(@child, event_id: event.id, tab: 'gifts'), class: "cards" %>
            <%= render './activity_components/activity_imgcard', activity: event.activity %>
          <% elsif event.gift.present? %>
            <%= link_to "Plan an activity for #{@child.first_name}", child_path(@child, event_id: event.id, tab: 'activities'), class: "cards" %>
            <%= render './gift_components/gift_imgcard', gift: event.gift %>
          <% else %>
              <%= link_to "Get a gift for #{@child.first_name}", child_path(@child, event_id: event.id, tab: 'gifts'), class: "cards" %>
              <%= link_to "Plan an activity for #{@child.first_name}", child_path(@child, event_id: event.id, tab: 'activities'), class: "cards" %>
          <% end %>
        </div>
        <div class='w-100 overflow-hidden'>
          <div class="owl-carousel owl-theme align-self-center">
            <% event.photos.each do |photo| %>
              <%= cl_image_tag photo.key, width: '250', height: '250', object_fit: "cover"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
