<div class="index-child-container width-index">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-8">
      <div class="container width-children-cards">
        <h1 class='text-center index-h1'>Your children list</h1>
        <div class="d-flex justify-content-center">
          <a class="btn-child-show btn btn-primary my-1" href="/children/new"><span>Add Member <i class="fas fa-user-plus"></i></span></a>
        </div>
        <div class="row" >
          <% @children.each do |child| %>
            <div class="card-products my-4 col-6 col-md-5 col-lg-5">
              <% if child.photo.attached? %>
                <%= cl_image_tag child.photo.key%>
              <% else %>
                <%= cl_image_tag "mm6cyjjx011lc0s281clou5yb45q" %>
              <% end %>
              <div class="card-products-info child-relative">
                <h2 class=''><%= child.full_name %></h2>
                <div class="d-flex justify-content-between mt-2">
                  <div class ='pl-2'>
                    <div class="d-flex ">
                      <%= image_tag'family.png', class: 'image-tag-index p-1'%>
                      <p class=''><%= child.parent.capitalize %> </p>
                    </div>
                    <div class="d-flex pt-2">
                      <%= image_tag'jigsaw.png', class: 'image-tag-index mb-1 mr-1'%>
                      <% if child.tag_list.present? %>
                        <p class='mb-4'><%= child.tag_list.to_s.capitalize %></p>
                      <% else %>
                        <p class='mb-4'>None yet.</p>
                      <% end %>
                    </div>
                  </div>
                  <div class='align-right pr-2'>
                    <p> 🎂 <%= child.birthday %></p>
                    <p><%= child.age %></p>
                  </div>
                  <%= link_to "See more", child_path(child), class: "btn-small btn-primary p-2 position-absolute" %>
                  <%= link_to edit_child_path(child), child: child, class: 'edit-child' do%>
                    <i class="fas fa-user-edit"></i>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4 sidenav mx-auto calendar-height" style="overflow:auto">
      <h4 class="mt-4 mb-3">Event Calendar</h4>
      <div class="mb-5" id="events_calendar_index" style="padding-top: 30px" >
        <%# <% @children.each do |child| %>
          <%# <% child.events.each do |event| %>
            <%# <% if event.start_date >  Time.now %>
            <%# <% @all_events << event %>
            <%# <% end %>
            <%# <% end %>
            <%# <% end %>
            <%= render partial: "calendar_index", locals: {events: @all_events} %>
          </div>
          <div class="mt-5 mb-5" style="text-align:left">
            <div class="container calendar-events">
              <h4 class="mb-4" style="text-align:center">Upcoming Events</h4>
              <div class="row " style='justify-content:center;'>
                <% @all_events.sort_by(&:start_date).each do |event|%>
                  <div class='d-flex justify-content-around align-items-center event-box text-center width-event'>
                    <%= cl_image_tag event.child.photo.key, class: 'avatar' %>
                    <div class=''>
                      <p class='line-height text-center'><%= event.start_date.strftime("%B %d")%>,</p>
                      <p class='line-height text-center'><%= event.occasion.capitalize %>,</p>
                      <% unless event.gift.present? %>
                        Plan a 🎁 ?
                      <% end %>
                      <p class='line-height text-center'>Have fun!</p>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class=" container calendar-events pt-3">
              <h4 class="mb-4" style="text-align:center">Past event without photos</h4>
              <div class="row " style='justify-content:center;'>
                <% @all_past_events.sort_by(&:start_date).each do |event|%>
                  <div class='d-flex justify-content-around align-items-center event-box text-center width-event'>
                    <%= cl_image_tag event.child.photo.key, class: 'avatar' %>
                    <div>
                      <p class='line-height'>⚠️</p>
                      <p class='line-height'><%= event.start_date.strftime("%B %d")%></p>
                      <p class='line-height'><%= event.child.first_name.capitalize %>'s <%= event.occasion.capitalize %></p>
                      <p class='line-height'>upload 📸 ?</p>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
