<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-4 mx-auto">
      <div class="form-login">
        <%= simple_form_for [@user, @child] do |f| %>
        <%= image_tag "profile-photo1", class:"profile-image"%>
          <%= f.input :photo, as: :file, input_html: { class: 'd-none' },
            label_html: {class: "upload-photo" }, label: 'Upload Profile 📷 '  %>
          <%= f.input :first_name, class: 'mt-5' %>
          <%= f.input :middle_name, label: 'Middle name', placeholder: "optional" %>
          <%= f.input :last_name %>
          <%= f.input :parent, label: 'Parents' %>
          <%= f.input :birthday, html5: true, as: :date, label: "Date of Birth", start_year: Time.now.year - 15, end_year: Time.now.year, order:[ :year, :month, :day]%>
          <%= f.input :tag_list, as: :radio_buttons, label: 'Activity Preference (pick one)', collection: Child::TAGS, input_html: { class: "tag-selector"}, item_wrapper_class: 'tag-item' %>
          <%= f.submit 'Add', class: 'btn btn-success my-3 px-5', style: "border-radius: 20px;" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
