<div class="container my-5">
  <%= simple_form_for [@user, @child] do |f| %>
    <%= f.input :first_name, class: 'mt-5' %>
    <%= f.input :middle_name, label: 'Middle name (Optional)' %>
    <%= f.input :last_name %>
    <%= f.input :parent, label: 'Parents' %>
    <%= f.input :birthday, html5: true, as: :date, label: "Date of Birth", start_year: Time.now.year - 15, end_year: Time.now.year, order:[ :year, :month, :day]%>
    <%= f.input :tag_list, as: :radio_buttons, label: 'Activity Preference', collection: Child::TAGS, input_html: { class: "tag-selector"}, item_wrapper_class: 'tag-item' %>
    <%= f.input :photo, as: :file, input_html: { class: 'd-none' },
  label_html: { class: 'upload-photo'}, label: '📷 Upload a profile photo for this child'  %>
    <%= f.submit 'Register this child', class: 'btn btn-warning my-3 px-5', style: "border-radius: 20px;" %>
  <% end %>
</div>
