<div class="container-fluid" style="height=100%">
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-lg-2 bd-sidebar border">
      <h3>Testing</h3>
    </div>
    <div class="col-12 col-md-9 col-lg-10 py-md-3 pl-md-5 bd-content border" role="main">
      <ul class="nav tabs-underlined" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="tab-underlined <%= "active" if params[:tab].nil? || params[:tab] ==  "history" %>" id="home-tab" data-toggle="tab" href="#history" role="tab" aria-controls="home" aria-selected="true">History</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="tab-underlined <%= "active" if params[:tab] ==  "activities" %>" id="profile-tab" data-toggle="tab" href="#activities" role="tab" aria-controls="profile" aria-selected="false">Activities</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="tab-underlined <%= "active" if params[:tab] ==  "gifts" %>" id="converstion-tab" data-toggle="tab" href="#gifts" role="tab" aria-controls="profile" aria-selected="false">Gifts</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade py-3 <%= "show active" if params[:tab].nil? || params[:tab] ==  "history" %>" id="history" role="tabpanel" aria-labelledby="home-tab">
          <%= render "children/history" %>
        </div>
        <div class="tab-pane fade py-3 <%= "show active" if params[:tab] ==  "activities" %>" id="activities" role="tabpanel" aria-labelledby="profile-tab">
          <%= render "children/activities" %>
        </div>
        <div class="tab-pane fade py-3 <%= "show active" if params[:tab] ==  "gifts" %>" id="gifts" role="tabpanel" aria-labelledby="converstion-tab">
          <%= render "children/gifts" %>
        </div>
      </div>
    </div>
  </div>
</div>
