<%= render './children/childcard', child: @child %>
<%= link_to "Back", child_path(@child, tab: "gifts"), class: "btn-lg btn-secondary btn-replacement br-10"%>
<div class="container my-3">
  <div class="show-card-main">
    <% if @gift.photo.attached? %>
      <%= cl_image_tag @gift.photo.key, class:'image-show'%>
    <% else %>
      <%= image_tag 'camera-photo.png', class:'image-show'%>
    <% end %>
    <div class="ml-3">
      <h1 class='modal-h2'><%= @gift.name.capitalize %>
        <%= link_to @gift.website_link, target: "_blank" do%>
          <small><i class="fas fa-external-link-square-alt icon align-item-center"></i></small>
        <% end %>
      </h1>
      <div class="d-flex justify-content-between align-items-center">
        <p class='modal-price'>Suggested Age Range: <%= @gift.start_age %>-<%= @gift.end_age %></p>
        <p class='modal-price'><%= number_with_delimiter(@gift.price, delimiter: ',') %></p>
      </div>
      <p class='modal-p'><%= @gift.description %></p>
      <div class='d-flex justify-content-between'>
        <% @events.each do|event| %>
          <% unless event.gift %>
            <%= render 'event_dropdown', event: event %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
