<div class="banner">
  <%= render 'shared/navbar_landingpage' %>
  <div class="text-container">
    <div>
      <div class="brand-container"><%= image_tag 'Memo Me.png', class: "landingpage-logo" %><span class="brand-name">Memo-Me</span></div>
        <h1>Plan events. Create memories.
        <br>
        <span class="landingpage-subheader">Stay connected with those precious little ones.</span>
      </div>
    </div>
  </div>
  <div class="row container-home">
    <div class="col-12 col-sm-6 d-flex align-items-center">
      <div class="homepage-description-text">
        <h4 style="font-weight: 700; margin-bottom: 1em;">Memories with <span style= "color: #3fb46c; font-style: italic;">Memo-Me</span></h4>
          <li><span class="fa-li"><i class="far fa-clock"></i></span>Spend Quality Time
          <br><span style="font-size: 16px;">Take a little of your time and be much closer to those kids around you.</span></li>
          <li><span class="fa-li"><i class="fas fa-home"></i></span>Build Relationship
          <br><span style="font-size: 16px;">It can be a niece, a nephew, a friend's kid, or your own. Become a better parent, a better friend, a closer family member!</span></li>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <%= image_tag 'home-image.jpg', id:"couch-image" %>
    </div>
  </div>
  <div class="container">
    <div class="container instructions">
      <div class="position-of-down mt-5">
        <%= image_tag 'down-arrow.png', class: "down-arrow-icon" %>
      </div>
      <h2 style="text-align: center; margin-top: 2em;">IT IS EASY AS...</h2>
      <div class="instruction-container">
        <div class="instruction-container-text">
          <%= image_tag "sign-up.png" %>
          <p>Step 1.</p>
          <p>Create an Account</p>
        </div>
        <div class="instruction-container-text">
          <%= image_tag "form-image.png" %>
          <p>Step 2.</p>
          <p>Save the child's info</p>
        </div>
        <div class="instruction-container-text">
          <%= image_tag "autumn-season-5580628_1920.png", style: "width: 200px;" %>
          <p>Step 3.</p>
          <p>Spend an awesome time with the kid!</p>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-5">
        <%= link_to "Start now!", "/children", class: 'cta-btn btn btn-success'%>
      </div>
    </div>
  </div>
