<div class="banner">
  <%= render 'shared/navbar_landingpage' %>
  <div class="text-container">
    <div>
      <div class="brand-container"><%= image_tag 'Memo-Me.png', class: "landingpage-logo" %><span class="brand-name">Memo-Me</span></div>
        <h1>Plan events. Create memories.
        <br>
        <span class="landingpage-subheader">Stay connected with those precious little ones.</span>
        <%= link_to "Start now!", "/children", class: 'cta-btn btn btn-success'%>
      </div>
    </div>
  </div>
  <div class="row container-home">
    <div class="col-12 col-sm-6 d-flex align-items-center">
      <div class="homepage-description-text" style="padding-right: 3em;">
        <h4 style="font-weight: 800; margin-bottom: 1em;">Memories with <span style= "color: #3fb46c; font-style: italic;">Memo-Me</span></h4>
          <p>Memo-me can help you manage all your upcoming events with your little ones and never forget them ever again. We can enhance your experience through personalized suggestions on activities and gifts for your next event.</p>
          <li><span class="fa-li"><i class="far fa-clock"></i></span>Spend Quality Time
          <br><span style="font-size: 16px; margin-left: 12px;">Take a little of your time and be much closer to those kids around you.</span></li>
          <li><span class="fa-li"><i class="fas fa-home"></i></span>Build Relationship
          <br><span style="font-size: 16px; margin-left: 12px;">It can be a niece, a nephew, a friend's kid, or your own. <br><span style="margin-left: 12px;">Become a better parent, a better friend, a closer family member!</span></span></li>
          <li><span class="fa-li"><i class="fas fa-hand-holding-heart"></i></span>Everlasting Memories
          <br><span style="font-size: 16px; margin-left: 12px;">Produce memories that you will never forget!</span></li>
          <%= link_to "Start now!", "/children", class: 'cta-btn-small btn btn-success'%>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <%= image_tag 'home-image.jpg', id:"couch-image" %>
    </div>
  </div>
  <div class="color-container">
    <div class="container instructions color-container">
      <div class="row">
        <div class="instruction-container col-12 col-sm-6">
          <h2 class="instruction-text">Ready, Set, Go
          <br> in few easy steps</h2>
          <div class="d-flex justify-content-left">
            <div class="instruction-container-text">
              <%= image_tag 'profile', class:"avatar-md" %>
              <p style="font-style:italic;">1. Sign Up</p>
            </div>
          </div>
          <div class="d-flex justify-content-center mt-3">
            <div class="instruction-container-text">
              <%= image_tag 'child-photo', class:"avatar-md" %>
              <p style="font-style:italic;">2. Plan Events</p>
            </div>
          </div>
          <div class="d-flex justify-content-end mt-3">
            <div class="instruction-container-text">
              <%= image_tag 'ferris-wheel', class: "avatar-md" %>
              <p style="font-style:italic;">3. Have Fun</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <%= image_tag 'happy-child', id:"happy-child" %>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-3 mb-3">
        <%= link_to "Start now!", "/children", class: 'cta-btn btn btn-success'%>
      </div>
    </div>
  </div>
