<div class="banner">
  <%= render 'shared/navbar_landingpage' %>
  <div class="text-container">
    <div>
      <div class="brand-container"><%= image_tag 'Memo-Me.png', class: "landingpage-logo" %><span class="brand-name">Memo-Me</span></div>
      <h1>Plan events. Create memories.
        <br>
        <span class="landingpage-subheader">Stay connected with those precious little ones.</span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="container-home">
      <h3>Use Ikujitime, take a little of your time to get much closer to those kids that you like.</p>
      <p>It can be a niece, a nephew, a friend's kid, your own to keed tabs on them, become a better parent, a better friend, a closer familly member! </p>
      <a class="btn-lg btn-primary <%= current_user.present? ? "d-none" : '' %>" href="/users/sign_up">Sign up now</a>
    </div>
    <div class="container instructions">
      <div class="position-of-down mt-5">
        <%= image_tag 'down-arrow.png', class: "down-arrow-icon" %>
      </div>
      <h2 style="text-align: center; margin-top: 2em;">IT IS EASY AS...</h2>
      <div class="instruction-container">
        <div class="instruction-container-text">
          <%= image_tag "sign-up.png" %>
          <p>Step 1.</p>
          <p>Create an Account</p>
        </div>
        <div class="instruction-container-text">
          <%= image_tag "form-image.png" %>
          <p>Step 2.</p>
          <p>Save the child's info</p>
        </div>
        <div class="instruction-container-text">
          <%= image_tag "autumn-season-5580628_1920.png", style: "width: 200px;" %>
          <p>Step 3.</p>
          <p>Spend an awesome time with the kid!</p>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-5">
        <%= link_to "Start now!", "/children", class: 'cta-btn btn btn-success'%>
      </div>
    </div>
  </div>
