<!-- Modal -->
<div class="modal fade" id="exampleModalCenter-<%= activity.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          <% if activity.photo.attached? %>
            <%= cl_image_tag activity.photo.key, style: "width: 100%;"%>
          <% else %>
            <%= image_tag 'camera-photo.png', "width: 100%;"%>
          <% end %>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2 class='modal-h2'><%= activity.name.capitalize %></h2>
        <p class='modal-price'><%= number_with_delimiter(activity.price, delimiter: ',') %>¥ / person</p>
        <p class='modal-p'>Address: <%= activity.address %></p>
        <p class='modal-p'><%= activity.description %></p>
        <div id="map"
            style="width: 100%; height: 600px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-between py-0 my-0">
        <a href="<%= activity.website_link %>" class="btn btn-primary">View Link</a>
        <%# <%= simple_form_for event do |f| %>
          <%# <%= f.input :activity_id, as: :hidden, input_html: { value: activity.id }  %> %>
          <%# <%= f.submit "add to event", class: "btn btn-primary centered" %> %>
          <%# <% end %> %> %>
        </div>
      </div>
    </div>
  </div>
